.sidebar {
  padding: 20px;
  height: calc(100vh - var(--nav-height));
  position: sticky;
  top: var(--nav-height);
  background-color: #f9f9f9;
  width: 250px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.sidebar ul {
  list-style: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.sidebar ul li a {
  padding: 15px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: white;
  color: #333;
  font-size: 1.5rem;
  border-right: 5px solid transparent;
  transition: 0.3s;
  font-weight: bold;
}
.sidebar ul li.active a {
  border-color: var(--main-color);
  background-color: rgb(234, 234, 255);
  color: var(--main-color);
}
.sidebar ul li:hover a {
  background-color: rgb(234, 234, 255);
  color: var(--main-color);
}
