.videoContainer video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}
.controls {
  padding: 1rem;
  border-radius: 5rem;
  background: rgba(0, 0, 0, 0.7);
  position: relative;
  top: 10rem;
}
.controls li {
  width: 2rem;
  height: 2rem;
  display: inline-block;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  margin: 0 0.5rem;
}
.controls li.active {
  background: var(--main-color-grad);
}
